# Python
__pycache__/
*.pyc
.env
venv/
*.sqlite3
# backend/**/*.html

# Node
node_modules/
.next/
.env.local
.env.*
npm-debug.log*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Others
*.swp
*.swo
.idea/
.vscode/
.pearai/